<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Honolulu Hotspots - Where you like go today?</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
      #map_canvas {
        margin: 0;
        padding: 0;
        height: 400px;
        width: 450px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <script type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
      var map;
      var markersArray = [];

      $(function() {
        google.maps.event.addDomListener(window, 'load', initialize);
      });

      function initialize() {
        var myOptions = {
          zoom: 11,
          center: new google.maps.LatLng(21.3069444, -157.8583333),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map_canvas'),
            myOptions);
            
        //google.maps.event.addListener(marker, 'click', toggleBounce);      
      }
// Removes the overlays from the map, but keeps them in the array
function clearOverlays() {
  if (markersArray) {
    for (i in markersArray) {
      markersArray[i].setMap(null);
    }
  }
}

// Shows any overlays currently in the array
function showOverlays() {
  if (markersArray) {
    for (i in markersArray) {
      markersArray[i].setMap(map);
    }
  }
}

// Deletes all markers in the array by removing references to them
function deleteOverlays() {
  if (markersArray) {
    for (i in markersArray) {
      markersArray[i].setMap(null);
    }
    markersArray.length = 0;
  }
}

      function onSearchVenues(venueQuery) {
        console.log('searchVenues ' + venueQuery);
        $.ajax({
          type: 'GET',
          url: '/venues/' + venueQuery
        }).done(function( msg ) {
          deleteOverlays();
          $.each(msg, function(index, value) {
            console.log(value.name);
            var latlng = new google.maps.LatLng(value.location.lat,
              value.location.lng);
            setTimeout(function() {
              var marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: latlng,
                title: value.name
              });
              markersArray.push(marker);
            }, index * 75);
          });
        });
      }
    </script>
  </head>

  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Honolulu Hotspots</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit row">
        <div class="span6">
          <h1>Hotspots!!!</h1>
          <p>Where you like go today?</p>
          <p>
            <input class="xlarge" id="venueSearchInput" name="xlInput" size="30"
            type="text" />
          </p>
          <p>
            <a class="btn primary large"
              onclick="onSearchVenues($('#venueSearchInput').val());">Shoooooots &raquo;</a>
          </p>
        </div>
        
        <div class="span6" id="map_canvas"></div>
      </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <h2>Meet New People!</h2>
          <p>New to Honolulu? Find the most happening joints in town to meet new people at.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span5">
          <h2>Party!</h2>
           <p>Holiday Weekend? Find somewhere to hang out and celebrate!</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span5">
          <h2>Sports Viewing</h2>
          <p>Find out where everyone else is gathering to see the game of the season! Grab a drink and cheer your team on with other fans!</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
